/* case study */
hr {
    flex: 1 0 61%;
    margin: 5vh 4vw 0 4vw;
    color: #dedede;
}

.web-development {
   background-color: #fff;
   position: relative;
   z-index: 3;
   padding: 6rem 0rem;
   display: flex;
   display: flex;
   margin-bottom: -2px;
}

.web-development .padding {
    flex: 1;
}

.web-development .about-service{
    flex: 10;
    display: flex;
    flex-wrap: wrap;
}

.web-development .about-service .title {
    flex: 1 0 40%;
    min-width: 31vmax;
    margin-top: 2rem;
    padding-right: 1vw;
}

.web-development .about-service .title img{
    display: block;
    width: 80%;
    position: relative;
}

.web-development .about-service .description {
    flex: 1 0 50%;
    min-width: 31vmax;
}

.web-development .about-service .description div{
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

.web-development .about-service .description h1{
    font-family: 'Metropolis-Bold';
    font-size: 2.5rem;
    line-height: 3rem;
}


.web-development .about-service .description p{
    font-family: 'Metropolis-Light';
    font-size: 1.7rem;
    line-height: 2rem;
    margin: 0px;
    margin-top: 2rem;
}

.cms{
    background: linear-gradient(29deg,#2B47F0 24% ,#DD4FE9 75% );
    color: #fff;
    position: relative;
    padding: 5rem;
}

.cms .team span{
    font-family: 'Metropolis-Light';
    font-size: 1.3rem;
    line-height: 2rem;
    position: relative;
    z-index: 4;
    left: 50%;
    transform: translate(-50%,0%);
    display: inline-block;
}
.cms .team h3{
    font-family: 'Oxanium-Medium';
    font-size: 3rem;
    line-height: 4rem;
    position: relative;
    z-index: 4;
    left: 50%;
    transform: translate(-50%,0%);
    display: inline-block;
    text-align: center;
    margin-top: 1rem;
}

.cms .team img{
    width: 80%;
    position: relative;
    z-index: 4;
    margin: auto;
    display: block;
    margin-bottom: -18rem;
}

.for-you{
    background-color: #fff;
    font-family: 'Metropolis-Light';
    overflow: hidden;
    padding-top: 18rem;
}



.for-you ul{
    list-style: none;
    list-style-image: url(../images/right-arrow.webp);
    width: 65%;
    line-height: 2rem;
    font-family: 'Metropolis-Light';
    padding: 0;
    margin: auto;
    margin-bottom: 4rem;
}

.for-you ul li {
    margin-top: 2rem;
    position: relative;
    z-index: 4;
    font-size: 1.3rem;
}

.buy-shop{
    display: flex;
    background: linear-gradient(29deg,#2B47F0 24% ,#DD4FE9 75% );
    align-items: center;
    color: #fff;
    position: relative;
    padding: 3rem;
}

.buy-shop .shop{
    display: flex;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.buy-shop svg.top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.buy-shop svg.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.buy-shop .shop p{
    flex: 4;
    font-family: 'Metropolis-Light';
    font-size: 1rem;
    line-height: 2rem;
    position: relative;
    z-index: 4;
}

.buy-shop .shop p span{
    font-size: 1.3rem;

}

.buy-shop .shop p span a{
    font-family: 'Metropolis-bold';
    color: white;
    text-decoration: none;}

.buy-shop .shop img{
    flex: 1;
    width: 30rem;
    max-width: 80vw;
    position: relative;
    z-index: 4;
}


/* 990px and below */
@media screen and (max-width: 990px) {
}

@media screen and (max-width: 895px) {
    .cms .wrapper .inner-border-fixer img{
        margin: auto;
        display: block;
    }
    
    .cms .wrapper .inner-border-fixer h5{
        text-align: center;
    }
    
    .cms .wrapper .inner-border-fixer p{
        text-align: center;
    }

    .cms .wrapper .inner-border-fixer .anchor-wrapper{
        display:table;
        margin: auto;
    }
}

@media screen and (max-width: 672px) {

    .cms .team img{
        margin-bottom: -9rem;
    }
    
    .for-you{
        padding-top: 9rem;
    }

    .buy-shop{
        flex-direction: column;
    }

    .buy-shop .content{
        margin-top: 0;
    }
}

@media screen and (max-width: 300px) {
    .cms .wrapper .inner-border-fixer .wordpress,
    .cms .wrapper .inner-border-fixer .shopify{
        padding: 0;
    }
    .web-development .about-service .title h1{
        font-size: 1.5rem;
        line-height: 1.5rem;
        word-wrap: break-word;
    }

    .web-development .about-service .description p{
        font-size: 1.2rem;
        line-height: 2rem;
        white-space: normal;
    }
}